<section>
  <!-- <h2>HTML</h2>

  <div class="grid-container">
    <section>
      <h3>基礎知識</h3>

      <nav>
        <ul>
          <li>HTMLの概要</li>
          <li><a href="./html/basis.html">HTMLの概要</a></li>
          <li>タグ属性</li>
          <li>SEO</li>
          <li>コピーライト</li>
          <li>免責事項/プライバシーポリシー</li>
        </ul>
      </nav>
    </section>

    <section>
      <h3>タグ</h3>

      <nav>
        <ul>
          <li>文書/メタデータタグ</li>
          <li>
            <a href="./html/section.html">セクションタグ</a>
          </li>
          <li>
            <a href="./html/group.html">グルーピングタグ</a>
          </li>
          <li><a href="./html/text.html">テキストタグ</a></li>
          <li>
            <a href="./html/resource.html">リソースタグ</a>
          </li>
          <li><a href="./html/table.html">テーブルタグ</a></li>
          <li>フォームタグ</li>
        </ul>
      </nav>
    </section>
  </div>
</section> -->
  <!-- TODO クリックするまで内包要素はhiddenにする？ -->
  <section class="content-menu" data-menu-name="css">
    <h2>CSS</h2>

    <!-- コンテンツ詳細を呼び出し、該当コンテンツのhtmlを渡す -->
    <div class="grid-container">
      <section
        class="content-menu-detail"
        data-menu-name="css-basis"
        data-menu-path="/view/content/css/basis"
      >
        <h3>基礎知識</h3>

        <nav>
          <ul>
            <li>
              <a href="/content-detail.html?contentType=css&contentName=summary"
                >CSSの概要</a
              >
            </li>
            <li>
              <a href="./css/basis/data.html">CSSのデータ型/単位</a>
            </li>
            <li>
              <a href="./css/basis/cascade.html">カスケード/継承</a>
            </li>
            <li>
              <a href="./css/basis/block-model.html">ブロックモデル</a>
            </li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>記述ルール</h3>

        <nav>
          <ul>
            <li>
              <a href="./css/basis/selector.html">セレクタ</a>
            </li>
            <li>
              <a href="./css/basis/pseudo.html">疑似クラス/疑似要素</a>
            </li>

            <li>
              <a href="./css/basis/nest.html">ネスト記述</a>
            </li>
            <li>
              <a href="./css/basis/at-rule.html">＠ルール</a>
            </li>
            <li>
              <a href="./css/basis/variable.html"
                >CSS変数（カスタムプロパティ）</a
              >
            </li>
            <li>CSS関数</li>
            <li>カスケードレイヤー</li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>レスポンシブウェブデザイン（RWD）</h3>

        <nav>
          <ul>
            <li>
              <a href="./css/responsive/viewport.html"
                >表示領域（ビューポート）</a
              >
            </li>
            <li>
              <a href="./css/responsive/flex-box.html">フレックスボックス</a>
            </li>
            <li>
              <a href="./css/responsive/grid.html">グリッドレイアウト</a>
            </li>
            <li>
              <a href="./css/responsive/media-query.html">メディアクエリー</a>
            </li>
            <li>コンテナクエリー</li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>プロパティ（用途別）</h3>

        <nav>
          <ul>
            <li>テキスト</li>
            <li>
              <a href="./css/property/font.html">フォント</a>
            </li>
            <li>カラー/グラデーション</li>
            <li>背景</li>
            <li>画像</li>
            <li>
              <a href="./css/property/table.html">テーブルレイアウト</a>
            </li>
            <li>
              <a href="./css/property/position.html">ポジション</a>
            </li>
            <li>
              <a href="./css/property/float.html">フロート</a>
            </li>
            <li>
              <a href="./css/property/overflow.html">オーバーフロー</a>
            </li>
            <li>トランスフォーム</li>
            <li>
              <a href="./css/property/animation.html">アニメーション</a>
            </li>
            <li>
              <a href="./css/property/transition.html">トランジション</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </section>

  <!-- <section>
    <h2>JavaScript</h2>

    <div class="grid-container">
      <section>
        <h3>基礎知識</h3>

        <nav>
          <ul>
            <li>
              <a href="./javascript/basis/summary.html">JavaScriptの基礎</a>
            </li>
            <li>
              <a href="./javascript/basis/operator.html">演算子</a>
            </li>
            <li>
              <a href="./javascript/basis/variable.html">型と変数</a>
            </li>
            <li>
              <a href="./javascript/basis/array.html">配列</a>
            </li>
            <li>
              <a href="./javascript/basis/statement.html">制御文</a>
            </li>
            <li>
              <a href="./javascript/basis/function.html">関数</a>
            </li>
            <li>
              <a href="./javascript/basis/asynchronous.html">非同期処理</a>
            </li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>オブジェクト</h3>

        <nav>
          <ul>
            <li>
              <a href="./javascript/object/object.html">オブジェクト</a>
            </li>
            <li>
              <a href="./javascript/object/builtin-object.html"
                >ビルトインオブジェクト</a
              >
            </li>
            <li>
              <a href="./javascript/object/prototype.html">プロトタイプ</a>
            </li>
            <li>
              <a href="./javascript/object/class.html">クラス</a>
            </li>
          </ul>
        </nav>
      </section>
    </div>
  </section>

  <section>
    <h2>Web API</h2>

    <div class="grid-container">
      <section>
        <h3>DOM</h3>

        <nav>
          <ul>
            <li>
              <a href="./web-api/dom/dom.html">DOM</a>
            </li>
            <li>DOMの操作</li>
            <li>
              <a href="./web-api/dom/event-handler.html">イベントハンドラー</a>
            </li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>ストレージ</h3>

        <nav>
          <ul>
            <li>Cookie</li>
            <li>
              <a href="./web-api/storage/local-storage.html"
                >ローカルストレージ</a
              >
            </li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>Ajax</h3>

        <nav>
          <ul>
            <li>FetchAPI</li>
            <li>
              <a href="./web-api/ajax/XMLHttpRequest.html"
                >XMLHttpRequest（XHR）</a
              >
            </li>
          </ul>
        </nav>
      </section>

      <section>
        <h3>グラフィック</h3>

        <nav>
          <ul>
            <li>Canvas</li>
            <li>WebGL</li>
          </ul>
        </nav>
      </section>
    </div>
  </section>

  <section>
    <h2>VSCode</h2>

    <nav>
      <ul>
        <li>
          <a href="./vscode/json-debugger.html">JavaScriptのデバッグ環境</a>
        </li>
        <li>
          <a href="./vscode/blockman.html">コードブロックハイライトの導入</a>
        </li>
      </ul>
    </nav>
  </section> -->
</section>
