/* 
  モバイル端末用のCSSルールを定義
*/

/* 端末の最大サイズが幅451px以上 */
@media screen and (width > 450px) {
  /* モバイル共通変数 */
  :root {
    /* ウィンドウ */
    --window-width: 900px;

    /* ページ内テキスト */
    --font-size-default: 16px;
    --font-size-highlight: 14px;
    --font-size-link: 16px;
    --font-size-list: 16px;
    --font-size-code-prewiew: 14px;

    /* ヘッダー */
    --font-size-title: 32px;
    --font-size-sub-title: 14px;

    /* フッター */
    --font-size-footer: 13.5px;

    /* 見出し */
    --font-size-head-1: 32px;
    --font-size-head-2: 24px;
    --font-size-head-3: 20px;
    --font-size-head-4: 16px;

    /* テーブル */
    --font-size-table-caption: 12px;
    --font-size-table-header: 18px;
    --font-size-table-cell: 16px;
  }

  html {
    font-size: var(--font-size-default);
  }

  header {
    width: var(--window-width);
    height: auto;
    margin: 12px auto 12px auto;
    padding: 24px;
    border-radius: 24px;

    & .top_title {
      font-size: var(--font-size-title);
    }

    & .sub_title {
      padding: 0 2px;
      vertical-align: 1em;
      font-size: var(--font-size-sub-title);
    }
  }

  main {
    width: var(--window-width);
    height: auto;
    margin: 12px auto 12px auto;
    padding: 24px;
    border-radius: 24px;

    & .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }

  footer {
    width: var(--window-width);
    margin: 6px auto 6px auto;
    padding: 6px 4px;
    font-size: var(--font-size-footer);
  }

  /* headline */

  h1 {
    font-size: var(--font-size-head-1);
  }

  h2 {
    margin-top: 36px;
    font-size: var(--font-size-head-2);
    text-indent: 0.4em;
  }

  h3 {
    margin-top: 24px;
    font-size: var(--font-size-head-3);
    text-indent: 0.7em;
  }

  h4 {
    margin-top: 24px;
    font-size: var(--font-size-head-4);
    text-indent: 0.85em;
  }

  /* text */

  b {
    border-radius: 6px;
    padding: 1.2px;
    font-size: var(--font-size-highlight);
  }

  a {
    margin-bottom: 0.25px;
    font-size: var(--font-size-link);
  }

  pre {
    font-size: var(--font-size-code-prewiew);
  }

  table {
    & caption {
      margin: 10px 0;
      font-size: var(--font-size-table-caption);
    }

    & caption a {
      font-size: var(--font-size-table-caption);
    }

    & th {
      min-width: 5em;
      font-size: var(--font-size-table-header);
      padding: 0.25em;
    }

    & td {
      font-size: var(--font-size-table-cell);
    }
  }
}
