<div id="buttom-menu">
  <!-- TODO HOME画面を作成し、戻れるようにする -->
  <form id="open-top" action="/" method="get">
    <button type="submit">
      <img src="/asset/icon/home.svg" alt="TOPページ" />
    </button>
  </form>

  <!-- TODO プロフィールページを作成する -->
  <form id="open-profile" action="/profile.html" method="get">
    <button type="submit">
      <img src="/asset/icon/face-side.svg" alt="プロフィールページ" />
    </button>
  </form>

  <!-- コンテンツ -->
  <form id="open-contents" action="/contents.html" method="get">
    <button type="submit">
      <img src="/asset/icon/books.svg" alt="コンテンツページ" />
    </button>
  </form>

  <!-- 目次 -->
  <button id="open-navigation">
    <img src="/asset/icon/bookmark.svg" alt="目次モーダル" />
  </button>
</div>
